@*@page "/calc"
@inherits CalcView
@using System.Text.RegularExpressions

<h1 class="text-center">
    Calculator for fractions
</h1>

<br />

<div class="text-center">
    <h3>
        <input @bind="expression" />
        = @answer =
        @if (fractions != null)
        {
            @fractions
        }
    </h3>
</div>
<br />
<div class="text-center">
    <button class="btn btn-primary" @onclick="(()=>Calculate(expression))">
        Calculate
    </button>
    <br />
    <br />
    <h3>
        Steps
        <br/>
        @foreach (var str in iterations)
        {
            @str
            <br />
        }

    </h3>
</div>
*@