@page "/"
@inherits CalcView
@using System.Text.RegularExpressions

<h1 class="text-center">
    Calculator for fractions
</h1>

<br />

<div class="text-center">
    <input @bind="expression" />
    = @answer
    @if(fractions != null)
    {
        @fractions
    }
</div>

<br />

<div class="text-center">
    <button class="btn btn-primary" @onclick="(()=>Calculate(expression))">
        Calculate
    </button>
    <br/>
    <button class="btn btn-primary" @onclick="(()=>DoubleToNormalFraction())">
        Get fraction
    </button>
</div>

