@page "/text"
<h3>Text</h3>

<textarea cols="40" id="myTextarea"></textarea>

<script>
    const textarea = document.getElementById('myTextarea');

    // Получаем координаты конца текста
    const endCoordinates = {
        x: textarea.scrollLeft,
        y: textarea.scrollTop + textarea.scrollHeight
    };

    console.log('Координаты конца текста:', endCoordinates);
</script>
